.pokemon-card {
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin-top:1rem;
    border-radius: 0.5rem;
    background-color: #ededed;
    padding:4rem;
}

img{
    width:200px;
    height:200px;
}